!!!
html
  head
    if !isHome && meta.title
      title= meta.title + ' | ' + title  
    else
      title= description + ' | ' + title
    if meta.tags
      meta(name='keywords', content=meta.tags)
    meta(name='description', content=description)
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style-responsive.css')
    if theme
      link(rel='stylesheet', href='/themes/' + theme + '/css/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora')
    if ads
      script(src='/javascripts/jquery.min.js')
      script(src='/javascripts/ad-nag.js')
  body
    #main
      #title= title

      div
        ul#nav
          for page in pages
            li
              a(href='/' + page.slug)= page.meta.linktext || page.title        
        ul#subnav
          li
            if showRss
              a.rss(href='/feed')

      .clear

      .essay
        !=body

      if disqusShortname
        include _disqus
    
    <a href="https://github.com/katzgrau/essayist"><img style="position: fixed; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

    if ads
      #adnag-root.adnag-closed
        .adnag-header
          a.adnag-title(href='#')
            span.caret!= '&#9650;'
            span.adnag-title-text
        .adnag-body!= ad

    if googleAnalyticsAccount
      include _ganalytics